.stroke-selected {
  background: linear-gradient(264.81deg, #3368B2 1.67%, #ED4E8F 99.06%);
}

.outer-glow {
  background: #C4C4C4;
box-shadow: 0px 0px 14px 7px rgba(255, 96, 96, 0.57);
}


.body-bold {
  font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 130%;
/* or 19px */
color: #000000;
}


.body-regular {
  font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 130%;
/* or 19px */
color: #000000;
}

.boton-texto {
  /* Boton texto */
font-family: CircularStd;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 130%;
/* or 19px */
color: #000000;
}

.boton-detalle {
  /* Detalle */
font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 130%;
/* identical to box height, or 16px */
color: #000000;
}

.h1-plus {
  /* Detalle */
font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 130%;
/* identical to box height, or 16px */
color: #000000;
}

.azul {
  background: #3368B2;
}

.fuschia {
  background: #3368B2;
}

.oceano{
  background: #3368B2;
}

.forex-1 {
  background: #3368B2;
}

.forex-2{
  background: #3368B2;
}

.futuros-1 {
  background: #3368B2;
}

.futuros-2{
  background: #3368B2;
}

.acciones-1{
  background: #3368B2;
}

.acciones-2{
  background: #3368B2;

  .binarias-1{
    background: #3368B2;
  }
}

.binarias-2
{
  background: #3368B2;
}

.stroke-selected{
  background: #3368B2;
}

.gris{
  background: #3368B2;
}

.outer-glow{
  background: #3368B2;
}


