// @import url('https://fonts.googleapis.com/css2?family=CircularStd:wght@500;600;700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');



@font-face {
  font-family: 'CircularStd';
  src:
    url(/assets/fonts/Circular-Std-Book.woff) format("woff"),
    url(/assets/fonts/Circular-Std-Medium.woff) format("woff"),
    url(/assets/fonts/Circular-Std-Bold.woff) format("woff"),
    url(/assets/fonts/Circular-Std-Black.woff) format("woff"),
    url(/assets/fonts/Circular-Std-Bold-Italic.woff) format("woff");

  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}




// @font-face {
//   font-family: "Open Sans";
//   src: url('/src/assets/fonts/Open_Sans/OpenSans-Bold.ttf') format("ttf"),
//   url('/src/assets/fonts/Open_Sans/OpenSans-BoldItalic.ttf') format("ttf"),
//   url('/src/assets/fonts/Open_Sans/OpenSans-ExtraBold.ttf') format("ttf"),
//   url('/src/assets/fonts/Open_Sans/OpenSans-ExtraBoldItalic.ttf') format("ttf"),
//   url('/src/assets/fonts/Open_Sans/OpenSans-Light.ttf') format("ttf"),
//   url('/src/assets/fonts/Open_Sans/OpenSans-LightItalic.ttf') format("ttf"),
//   url('/src/assets/fonts/Open_Sans/OpenSans-Regular.ttf') format("ttf"),
//   url('/src/assets/fonts/Open_Sans/OpenSans-SemiBold.ttf') format("ttf"),
//   url('/src/assets/fonts/Open_Sans/OpenSans-SemiBoldItalic.ttf') format("ttf");
// }

// @font-face {
//   font-family: "OpenSans";
//   src: url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;700&display=swap'),
//        url("/fonts/OpenSans-Regular-webfont.woff") format("woff");
// }
