:root {

  --screen_width: 1280;
  --sw-base: 1280;
    
  /* 0 ********************************/

  --sw-0: calc(0 / var(--sw-base) * 100vw);
  --sw-1: calc(1 / var(--sw-base) * 100vw);
  --sw-2: calc(2 / var(--sw-base) * 100vw);
  --sw-3: calc(3 / var(--sw-base) * 100vw);
  --sw-4: calc(4 / var(--sw-base) * 100vw);
  --sw-5: calc(5 / var(--sw-base) * 100vw);
  --sw-6: calc(6 / var(--sw-base) * 100vw);
  --sw-7: calc(7 / var(--sw-base) * 100vw);
  --sw-8: calc(8 / var(--sw-base) * 100vw);
  --sw-9: calc(9 / var(--sw-base) * 100vw);

  /* 00 ********************************/
  --sw-00: calc(00 / var(--sw-base) * 100vw);
  --sw-01: calc(01 / var(--sw-base) * 100vw);
  --sw-02: calc(02 / var(--sw-base) * 100vw);
  --sw-03: calc(03 / var(--sw-base) * 100vw);
  --sw-04: calc(04 / var(--sw-base) * 100vw);
  --sw-05: calc(05 / var(--sw-base) * 100vw);
  --sw-06: calc(06 / var(--sw-base) * 100vw);
  --sw-07: calc(07 / var(--sw-base) * 100vw);
  --sw-08: calc(08 / var(--sw-base) * 100vw);
  --sw-09: calc(09 / var(--sw-base) * 100vw);

  --sw-10: calc(10 / var(--sw-base) * 100vw);
  --sw-11: calc(11 / var(--sw-base) * 100vw);
  --sw-12: calc(12 / var(--sw-base) * 100vw);
  --sw-13: calc(13 / var(--sw-base) * 100vw);
  --sw-14: calc(14 / var(--sw-base) * 100vw);
  --sw-15: calc(15 / var(--sw-base) * 100vw);
  --sw-16: calc(16 / var(--sw-base) * 100vw);
  --sw-17: calc(17 / var(--sw-base) * 100vw);
  --sw-18: calc(18 / var(--sw-base) * 100vw);
  --sw-19: calc(19 / var(--sw-base) * 100vw);

  --sw-20: calc(20 / var(--sw-base) * 100vw);
  --sw-21: calc(21 / var(--sw-base) * 100vw);
  --sw-22: calc(22 / var(--sw-base) * 100vw);
  --sw-23: calc(23 / var(--sw-base) * 100vw);
  --sw-24: calc(24 / var(--sw-base) * 100vw);
  --sw-25: calc(25 / var(--sw-base) * 100vw);
  --sw-26: calc(26 / var(--sw-base) * 100vw);
  --sw-27: calc(27 / var(--sw-base) * 100vw);
  --sw-28: calc(28 / var(--sw-base) * 100vw);
  --sw-29: calc(29 / var(--sw-base) * 100vw);

  --sw-30: calc(30 / var(--sw-base) * 100vw);
  --sw-31: calc(31 / var(--sw-base) * 100vw);
  --sw-32: calc(32 / var(--sw-base) * 100vw);
  --sw-33: calc(33 / var(--sw-base) * 100vw);
  --sw-34: calc(34 / var(--sw-base) * 100vw);
  --sw-35: calc(35 / var(--sw-base) * 100vw);
  --sw-36: calc(36 / var(--sw-base) * 100vw);
  --sw-37: calc(37 / var(--sw-base) * 100vw);
  --sw-38: calc(38 / var(--sw-base) * 100vw);
  --sw-39: calc(39 / var(--sw-base) * 100vw);

  --sw-40: calc(40 / var(--sw-base) * 100vw);
  --sw-41: calc(41 / var(--sw-base) * 100vw);
  --sw-42: calc(42 / var(--sw-base) * 100vw);
  --sw-43: calc(43 / var(--sw-base) * 100vw);
  --sw-44: calc(44 / var(--sw-base) * 100vw);
  --sw-45: calc(45 / var(--sw-base) * 100vw);
  --sw-46: calc(46 / var(--sw-base) * 100vw);
  --sw-47: calc(47 / var(--sw-base) * 100vw);
  --sw-48: calc(48 / var(--sw-base) * 100vw);
  --sw-49: calc(49 / var(--sw-base) * 100vw);

  --sw-50: calc(50 / var(--sw-base) * 100vw);
  --sw-51: calc(51 / var(--sw-base) * 100vw);
  --sw-52: calc(52 / var(--sw-base) * 100vw);
  --sw-53: calc(53 / var(--sw-base) * 100vw);
  --sw-54: calc(54 / var(--sw-base) * 100vw);
  --sw-55: calc(55 / var(--sw-base) * 100vw);
  --sw-56: calc(56 / var(--sw-base) * 100vw);
  --sw-57: calc(57 / var(--sw-base) * 100vw);
  --sw-58: calc(58 / var(--sw-base) * 100vw);
  --sw-59: calc(59 / var(--sw-base) * 100vw);

  --sw-60: calc(60 / var(--sw-base) * 100vw);
  --sw-61: calc(61 / var(--sw-base) * 100vw);
  --sw-62: calc(62 / var(--sw-base) * 100vw);
  --sw-63: calc(63 / var(--sw-base) * 100vw);
  --sw-64: calc(64 / var(--sw-base) * 100vw);
  --sw-65: calc(65 / var(--sw-base) * 100vw);
  --sw-66: calc(66 / var(--sw-base) * 100vw);
  --sw-67: calc(67 / var(--sw-base) * 100vw);
  --sw-68: calc(68 / var(--sw-base) * 100vw);
  --sw-69: calc(69 / var(--sw-base) * 100vw);

  --sw-70: calc(70 / var(--sw-base) * 100vw);
  --sw-71: calc(71 / var(--sw-base) * 100vw);
  --sw-72: calc(72 / var(--sw-base) * 100vw);
  --sw-73: calc(73 / var(--sw-base) * 100vw);
  --sw-74: calc(74 / var(--sw-base) * 100vw);
  --sw-75: calc(75 / var(--sw-base) * 100vw);
  --sw-76: calc(76 / var(--sw-base) * 100vw);
  --sw-77: calc(77 / var(--sw-base) * 100vw);
  --sw-78: calc(78 / var(--sw-base) * 100vw);
  --sw-79: calc(79 / var(--sw-base) * 100vw);

  --sw-80: calc(80 / var(--sw-base) * 100vw);
  --sw-81: calc(81 / var(--sw-base) * 100vw);
  --sw-82: calc(82 / var(--sw-base) * 100vw);
  --sw-83: calc(83 / var(--sw-base) * 100vw);
  --sw-84: calc(84 / var(--sw-base) * 100vw);
  --sw-85: calc(85 / var(--sw-base) * 100vw);
  --sw-86: calc(86 / var(--sw-base) * 100vw);
  --sw-87: calc(87 / var(--sw-base) * 100vw);
  --sw-88: calc(88 / var(--sw-base) * 100vw);
  --sw-89: calc(89 / var(--sw-base) * 100vw);
 
  --sw-90: calc(90 / var(--sw-base) * 100vw);
  --sw-91: calc(91 / var(--sw-base) * 100vw);
  --sw-92: calc(92 / var(--sw-base) * 100vw);
  --sw-93: calc(93 / var(--sw-base) * 100vw);
  --sw-94: calc(94 / var(--sw-base) * 100vw);
  --sw-95: calc(95 / var(--sw-base) * 100vw);
  --sw-96: calc(96 / var(--sw-base) * 100vw);
  --sw-97: calc(97 / var(--sw-base) * 100vw);
  --sw-98: calc(98 / var(--sw-base) * 100vw);
  --sw-99: calc(99 / var(--sw-base) * 100vw);


  /* 100 ********************************/
  --sw-100: calc(100 / var(--sw-base) * 100vw);
  --sw-101: calc(101 / var(--sw-base) * 100vw);
  --sw-102: calc(102 / var(--sw-base) * 100vw);
  --sw-103: calc(103 / var(--sw-base) * 100vw);
  --sw-104: calc(104 / var(--sw-base) * 100vw);
  --sw-105: calc(105 / var(--sw-base) * 100vw);
  --sw-106: calc(106 / var(--sw-base) * 100vw);
  --sw-107: calc(107 / var(--sw-base) * 100vw);
  --sw-108: calc(108 / var(--sw-base) * 100vw);
  --sw-109: calc(109 / var(--sw-base) * 100vw);
  --sw-110: calc(110 / var(--sw-base) * 100vw);
  --sw-111: calc(111 / var(--sw-base) * 100vw);
  --sw-112: calc(112 / var(--sw-base) * 100vw);
  --sw-113: calc(113 / var(--sw-base) * 100vw);
  --sw-114: calc(114 / var(--sw-base) * 100vw);
  --sw-115: calc(115 / var(--sw-base) * 100vw);
  --sw-116: calc(116 / var(--sw-base) * 100vw);
  --sw-117: calc(117 / var(--sw-base) * 100vw);
  --sw-118: calc(118 / var(--sw-base) * 100vw);
  --sw-119: calc(119 / var(--sw-base) * 100vw);
  --sw-120: calc(120 / var(--sw-base) * 100vw);
  --sw-121: calc(121 / var(--sw-base) * 100vw);
  --sw-122: calc(122 / var(--sw-base) * 100vw);
  --sw-123: calc(123 / var(--sw-base) * 100vw);
  --sw-124: calc(124 / var(--sw-base) * 100vw);
  --sw-125: calc(125 / var(--sw-base) * 100vw);
  --sw-126: calc(126 / var(--sw-base) * 100vw);
  --sw-127: calc(127 / var(--sw-base) * 100vw);
  --sw-128: calc(128 / var(--sw-base) * 100vw);
  --sw-129: calc(129 / var(--sw-base) * 100vw);
  --sw-130: calc(130 / var(--sw-base) * 100vw);
  --sw-131: calc(131 / var(--sw-base) * 100vw);
  --sw-132: calc(132 / var(--sw-base) * 100vw);
  --sw-133: calc(133 / var(--sw-base) * 100vw);
  --sw-134: calc(134 / var(--sw-base) * 100vw);
  --sw-135: calc(135 / var(--sw-base) * 100vw);
  --sw-136: calc(136 / var(--sw-base) * 100vw);
  --sw-137: calc(137 / var(--sw-base) * 100vw);
  --sw-138: calc(138 / var(--sw-base) * 100vw);
  --sw-139: calc(139 / var(--sw-base) * 100vw);
  --sw-140: calc(140 / var(--sw-base) * 100vw);
  --sw-141: calc(141 / var(--sw-base) * 100vw);
  --sw-142: calc(142 / var(--sw-base) * 100vw);
  --sw-143: calc(143 / var(--sw-base) * 100vw);
  --sw-144: calc(144 / var(--sw-base) * 100vw);
  --sw-145: calc(145 / var(--sw-base) * 100vw);
  --sw-146: calc(146 / var(--sw-base) * 100vw);
  --sw-147: calc(147 / var(--sw-base) * 100vw);
  --sw-148: calc(148 / var(--sw-base) * 100vw);
  --sw-149: calc(149 / var(--sw-base) * 100vw);
  --sw-150: calc(150 / var(--sw-base) * 100vw);
  --sw-151: calc(151 / var(--sw-base) * 100vw);
  --sw-152: calc(152 / var(--sw-base) * 100vw);
  --sw-153: calc(153 / var(--sw-base) * 100vw);
  --sw-154: calc(154 / var(--sw-base) * 100vw);
  --sw-155: calc(155 / var(--sw-base) * 100vw);
  --sw-156: calc(156 / var(--sw-base) * 100vw);
  --sw-157: calc(157 / var(--sw-base) * 100vw);
  --sw-158: calc(158 / var(--sw-base) * 100vw);
  --sw-159: calc(159 / var(--sw-base) * 100vw);
  --sw-160: calc(160 / var(--sw-base) * 100vw);
  --sw-161: calc(161 / var(--sw-base) * 100vw);
  --sw-162: calc(162 / var(--sw-base) * 100vw);
  --sw-163: calc(163 / var(--sw-base) * 100vw);
  --sw-164: calc(164 / var(--sw-base) * 100vw);
  --sw-165: calc(165 / var(--sw-base) * 100vw);
  --sw-166: calc(166 / var(--sw-base) * 100vw);
  --sw-167: calc(167 / var(--sw-base) * 100vw);
  --sw-168: calc(168 / var(--sw-base) * 100vw);
  --sw-169: calc(169 / var(--sw-base) * 100vw);
  --sw-170: calc(170 / var(--sw-base) * 100vw);
  --sw-171: calc(171 / var(--sw-base) * 100vw);
  --sw-172: calc(172 / var(--sw-base) * 100vw);
  --sw-173: calc(173 / var(--sw-base) * 100vw);
  --sw-174: calc(174 / var(--sw-base) * 100vw);
  --sw-175: calc(175 / var(--sw-base) * 100vw);
  --sw-176: calc(176 / var(--sw-base) * 100vw);
  --sw-177: calc(177 / var(--sw-base) * 100vw);
  --sw-178: calc(178 / var(--sw-base) * 100vw);
  --sw-179: calc(179 / var(--sw-base) * 100vw);
  --sw-180: calc(180 / var(--sw-base) * 100vw);
  --sw-181: calc(181 / var(--sw-base) * 100vw);
  --sw-182: calc(182 / var(--sw-base) * 100vw);
  --sw-183: calc(183 / var(--sw-base) * 100vw);
  --sw-184: calc(184 / var(--sw-base) * 100vw);
  --sw-185: calc(185 / var(--sw-base) * 100vw);
  --sw-186: calc(186 / var(--sw-base) * 100vw);
  --sw-187: calc(187 / var(--sw-base) * 100vw);
  --sw-188: calc(188 / var(--sw-base) * 100vw);
  --sw-189: calc(189 / var(--sw-base) * 100vw);
  --sw-190: calc(190 / var(--sw-base) * 100vw);
  --sw-191: calc(191 / var(--sw-base) * 100vw);
  --sw-192: calc(192 / var(--sw-base) * 100vw);
  --sw-193: calc(193 / var(--sw-base) * 100vw);
  --sw-194: calc(194 / var(--sw-base) * 100vw);
  --sw-195: calc(195 / var(--sw-base) * 100vw);
  --sw-196: calc(196 / var(--sw-base) * 100vw);
  --sw-197: calc(197 / var(--sw-base) * 100vw);
  --sw-198: calc(198 / var(--sw-base) * 100vw);
  --sw-199: calc(199 / var(--sw-base) * 100vw);

  /* 200 ********************************/
  --sw-200: calc(200 / var(--sw-base) * 100vw);
  --sw-201: calc(201 / var(--sw-base) * 100vw);
  --sw-202: calc(202 / var(--sw-base) * 100vw);
  --sw-203: calc(203 / var(--sw-base) * 100vw);
  --sw-204: calc(204 / var(--sw-base) * 100vw);
  --sw-205: calc(205 / var(--sw-base) * 100vw);
  --sw-206: calc(206 / var(--sw-base) * 100vw);
  --sw-207: calc(207 / var(--sw-base) * 100vw);
  --sw-208: calc(208 / var(--sw-base) * 100vw);
  --sw-209: calc(209 / var(--sw-base) * 100vw);
  --sw-210: calc(210 / var(--sw-base) * 100vw);
  --sw-211: calc(211 / var(--sw-base) * 100vw);
  --sw-212: calc(212 / var(--sw-base) * 100vw);
  --sw-213: calc(213 / var(--sw-base) * 100vw);
  --sw-214: calc(214 / var(--sw-base) * 100vw);
  --sw-215: calc(215 / var(--sw-base) * 100vw);
  --sw-216: calc(216 / var(--sw-base) * 100vw);
  --sw-217: calc(217 / var(--sw-base) * 100vw);
  --sw-218: calc(218 / var(--sw-base) * 100vw);
  --sw-219: calc(219 / var(--sw-base) * 100vw);
  --sw-220: calc(220 / var(--sw-base) * 100vw);
  --sw-221: calc(221 / var(--sw-base) * 100vw);
  --sw-222: calc(222 / var(--sw-base) * 100vw);
  --sw-223: calc(223 / var(--sw-base) * 100vw);
  --sw-224: calc(224 / var(--sw-base) * 100vw);
  --sw-225: calc(225 / var(--sw-base) * 100vw);
  --sw-226: calc(226 / var(--sw-base) * 100vw);
  --sw-227: calc(227 / var(--sw-base) * 100vw);
  --sw-228: calc(228 / var(--sw-base) * 100vw);
  --sw-229: calc(229 / var(--sw-base) * 100vw);
  --sw-230: calc(230 / var(--sw-base) * 100vw);
  --sw-231: calc(231 / var(--sw-base) * 100vw);
  --sw-232: calc(232 / var(--sw-base) * 100vw);
  --sw-233: calc(233 / var(--sw-base) * 100vw);
  --sw-234: calc(234 / var(--sw-base) * 100vw);
  --sw-235: calc(235 / var(--sw-base) * 100vw);
  --sw-236: calc(236 / var(--sw-base) * 100vw);
  --sw-237: calc(237 / var(--sw-base) * 100vw);
  --sw-238: calc(238 / var(--sw-base) * 100vw);
  --sw-239: calc(239 / var(--sw-base) * 100vw);
  --sw-240: calc(240 / var(--sw-base) * 100vw);
  --sw-241: calc(241 / var(--sw-base) * 100vw);
  --sw-242: calc(242 / var(--sw-base) * 100vw);
  --sw-243: calc(243 / var(--sw-base) * 100vw);
  --sw-244: calc(244 / var(--sw-base) * 100vw);
  --sw-245: calc(245 / var(--sw-base) * 100vw);
  --sw-246: calc(246 / var(--sw-base) * 100vw);
  --sw-247: calc(247 / var(--sw-base) * 100vw);
  --sw-248: calc(248 / var(--sw-base) * 100vw);
  --sw-249: calc(249 / var(--sw-base) * 100vw);
  --sw-250: calc(250 / var(--sw-base) * 100vw);
  --sw-251: calc(251 / var(--sw-base) * 100vw);
  --sw-252: calc(252 / var(--sw-base) * 100vw);
  --sw-253: calc(253 / var(--sw-base) * 100vw);
  --sw-254: calc(254 / var(--sw-base) * 100vw);
  --sw-255: calc(255 / var(--sw-base) * 100vw);
  --sw-256: calc(256 / var(--sw-base) * 100vw);
  --sw-257: calc(257 / var(--sw-base) * 100vw);
  --sw-258: calc(258 / var(--sw-base) * 100vw);
  --sw-259: calc(259 / var(--sw-base) * 100vw);
  --sw-260: calc(260 / var(--sw-base) * 100vw);
  --sw-261: calc(261 / var(--sw-base) * 100vw);
  --sw-262: calc(262 / var(--sw-base) * 100vw);
  --sw-263: calc(263 / var(--sw-base) * 100vw);
  --sw-264: calc(264 / var(--sw-base) * 100vw);
  --sw-265: calc(265 / var(--sw-base) * 100vw);
  --sw-266: calc(266 / var(--sw-base) * 100vw);
  --sw-267: calc(267 / var(--sw-base) * 100vw);
  --sw-268: calc(268 / var(--sw-base) * 100vw);
  --sw-269: calc(269 / var(--sw-base) * 100vw);
  --sw-270: calc(270 / var(--sw-base) * 100vw);
  --sw-271: calc(271 / var(--sw-base) * 100vw);
  --sw-272: calc(272 / var(--sw-base) * 100vw);
  --sw-273: calc(273 / var(--sw-base) * 100vw);
  --sw-274: calc(274 / var(--sw-base) * 100vw);
  --sw-275: calc(275 / var(--sw-base) * 100vw);
  --sw-276: calc(276 / var(--sw-base) * 100vw);
  --sw-277: calc(277 / var(--sw-base) * 100vw);
  --sw-278: calc(278 / var(--sw-base) * 100vw);
  --sw-279: calc(279 / var(--sw-base) * 100vw);
  --sw-280: calc(280 / var(--sw-base) * 100vw);
  --sw-281: calc(281 / var(--sw-base) * 100vw);
  --sw-282: calc(282 / var(--sw-base) * 100vw);
  --sw-283: calc(283 / var(--sw-base) * 100vw);
  --sw-284: calc(284 / var(--sw-base) * 100vw);
  --sw-285: calc(285 / var(--sw-base) * 100vw);
  --sw-286: calc(286 / var(--sw-base) * 100vw);
  --sw-287: calc(287 / var(--sw-base) * 100vw);
  --sw-288: calc(288 / var(--sw-base) * 100vw);
  --sw-289: calc(289 / var(--sw-base) * 100vw);
  --sw-290: calc(290 / var(--sw-base) * 100vw);
  --sw-291: calc(291 / var(--sw-base) * 100vw);
  --sw-292: calc(292 / var(--sw-base) * 100vw);
  --sw-293: calc(293 / var(--sw-base) * 100vw);
  --sw-294: calc(294 / var(--sw-base) * 100vw);
  --sw-295: calc(295 / var(--sw-base) * 100vw);
  --sw-296: calc(296 / var(--sw-base) * 100vw);
  --sw-297: calc(297 / var(--sw-base) * 100vw);
  --sw-298: calc(298 / var(--sw-base) * 100vw);
  --sw-299: calc(299 / var(--sw-base) * 100vw);

  /* 300 ********************************/
  --sw-300: calc(300 / var(--sw-base) * 100vw);
  --sw-301: calc(301 / var(--sw-base) * 100vw);
  --sw-302: calc(302 / var(--sw-base) * 100vw);
  --sw-303: calc(303 / var(--sw-base) * 100vw);
  --sw-304: calc(304 / var(--sw-base) * 100vw);
  --sw-305: calc(305 / var(--sw-base) * 100vw);
  --sw-306: calc(306 / var(--sw-base) * 100vw);
  --sw-307: calc(307 / var(--sw-base) * 100vw);
  --sw-308: calc(308 / var(--sw-base) * 100vw);
  --sw-309: calc(309 / var(--sw-base) * 100vw);
  --sw-310: calc(310 / var(--sw-base) * 100vw);
  --sw-311: calc(311 / var(--sw-base) * 100vw);
  --sw-312: calc(312 / var(--sw-base) * 100vw);
  --sw-313: calc(313 / var(--sw-base) * 100vw);
  --sw-314: calc(314 / var(--sw-base) * 100vw);
  --sw-315: calc(315 / var(--sw-base) * 100vw);
  --sw-316: calc(316 / var(--sw-base) * 100vw);
  --sw-317: calc(317 / var(--sw-base) * 100vw);
  --sw-318: calc(318 / var(--sw-base) * 100vw);
  --sw-319: calc(319 / var(--sw-base) * 100vw);
  --sw-320: calc(320 / var(--sw-base) * 100vw);
  --sw-321: calc(321 / var(--sw-base) * 100vw);
  --sw-322: calc(322 / var(--sw-base) * 100vw);
  --sw-323: calc(323 / var(--sw-base) * 100vw);
  --sw-324: calc(324 / var(--sw-base) * 100vw);
  --sw-325: calc(325 / var(--sw-base) * 100vw);
  --sw-326: calc(326 / var(--sw-base) * 100vw);
  --sw-327: calc(327 / var(--sw-base) * 100vw);
  --sw-328: calc(328 / var(--sw-base) * 100vw);
  --sw-329: calc(329 / var(--sw-base) * 100vw);
  --sw-330: calc(330 / var(--sw-base) * 100vw);
  --sw-331: calc(331 / var(--sw-base) * 100vw);
  --sw-332: calc(332 / var(--sw-base) * 100vw);
  --sw-333: calc(333 / var(--sw-base) * 100vw);
  --sw-334: calc(334 / var(--sw-base) * 100vw);
  --sw-335: calc(335 / var(--sw-base) * 100vw);
  --sw-336: calc(336 / var(--sw-base) * 100vw);
  --sw-337: calc(337 / var(--sw-base) * 100vw);
  --sw-338: calc(338 / var(--sw-base) * 100vw);
  --sw-339: calc(339 / var(--sw-base) * 100vw);
  --sw-340: calc(340 / var(--sw-base) * 100vw);
  --sw-341: calc(341 / var(--sw-base) * 100vw);
  --sw-342: calc(342 / var(--sw-base) * 100vw);
  --sw-343: calc(343 / var(--sw-base) * 100vw);
  --sw-344: calc(344 / var(--sw-base) * 100vw);
  --sw-345: calc(345 / var(--sw-base) * 100vw);
  --sw-346: calc(346 / var(--sw-base) * 100vw);
  --sw-347: calc(347 / var(--sw-base) * 100vw);
  --sw-348: calc(348 / var(--sw-base) * 100vw);
  --sw-349: calc(349 / var(--sw-base) * 100vw);
  --sw-350: calc(350 / var(--sw-base) * 100vw);
  --sw-351: calc(351 / var(--sw-base) * 100vw);
  --sw-352: calc(352 / var(--sw-base) * 100vw);
  --sw-353: calc(353 / var(--sw-base) * 100vw);
  --sw-354: calc(354 / var(--sw-base) * 100vw);
  --sw-355: calc(355 / var(--sw-base) * 100vw);
  --sw-356: calc(356 / var(--sw-base) * 100vw);
  --sw-357: calc(357 / var(--sw-base) * 100vw);
  --sw-358: calc(358 / var(--sw-base) * 100vw);
  --sw-359: calc(359 / var(--sw-base) * 100vw);
  --sw-360: calc(360 / var(--sw-base) * 100vw);
  --sw-361: calc(361 / var(--sw-base) * 100vw);
  --sw-362: calc(362 / var(--sw-base) * 100vw);
  --sw-363: calc(363 / var(--sw-base) * 100vw);
  --sw-364: calc(364 / var(--sw-base) * 100vw);
  --sw-365: calc(365 / var(--sw-base) * 100vw);
  --sw-366: calc(366 / var(--sw-base) * 100vw);
  --sw-367: calc(367 / var(--sw-base) * 100vw);
  --sw-368: calc(368 / var(--sw-base) * 100vw);
  --sw-369: calc(369 / var(--sw-base) * 100vw);
  --sw-370: calc(370 / var(--sw-base) * 100vw);
  --sw-371: calc(371 / var(--sw-base) * 100vw);
  --sw-372: calc(372 / var(--sw-base) * 100vw);
  --sw-373: calc(373 / var(--sw-base) * 100vw);
  --sw-374: calc(374 / var(--sw-base) * 100vw);
  --sw-375: calc(375 / var(--sw-base) * 100vw);
  --sw-376: calc(376 / var(--sw-base) * 100vw);
  --sw-377: calc(377 / var(--sw-base) * 100vw);
  --sw-378: calc(378 / var(--sw-base) * 100vw);
  --sw-379: calc(379 / var(--sw-base) * 100vw);
  --sw-380: calc(380 / var(--sw-base) * 100vw);
  --sw-381: calc(381 / var(--sw-base) * 100vw);
  --sw-382: calc(382 / var(--sw-base) * 100vw);
  --sw-383: calc(383 / var(--sw-base) * 100vw);
  --sw-384: calc(384 / var(--sw-base) * 100vw);
  --sw-385: calc(385 / var(--sw-base) * 100vw);
  --sw-386: calc(386 / var(--sw-base) * 100vw);
  --sw-387: calc(387 / var(--sw-base) * 100vw);
  --sw-388: calc(388 / var(--sw-base) * 100vw);
  --sw-389: calc(389 / var(--sw-base) * 100vw);
  --sw-390: calc(390 / var(--sw-base) * 100vw);
  --sw-391: calc(391 / var(--sw-base) * 100vw);
  --sw-392: calc(392 / var(--sw-base) * 100vw);
  --sw-393: calc(393 / var(--sw-base) * 100vw);
  --sw-394: calc(394 / var(--sw-base) * 100vw);
  --sw-395: calc(395 / var(--sw-base) * 100vw);
  --sw-396: calc(396 / var(--sw-base) * 100vw);
  --sw-397: calc(397 / var(--sw-base) * 100vw);
  --sw-398: calc(398 / var(--sw-base) * 100vw);
  --sw-399: calc(399 / var(--sw-base) * 100vw);

  /* 400 ********************************/
  --sw-400: calc(400 / var(--sw-base) * 100vw);
  --sw-401: calc(401 / var(--sw-base) * 100vw);
  --sw-402: calc(402 / var(--sw-base) * 100vw);
  --sw-403: calc(403 / var(--sw-base) * 100vw);
  --sw-404: calc(404 / var(--sw-base) * 100vw);
  --sw-405: calc(405 / var(--sw-base) * 100vw);
  --sw-406: calc(406 / var(--sw-base) * 100vw);
  --sw-407: calc(407 / var(--sw-base) * 100vw);
  --sw-408: calc(408 / var(--sw-base) * 100vw);
  --sw-409: calc(409 / var(--sw-base) * 100vw);
  --sw-410: calc(410 / var(--sw-base) * 100vw);
  --sw-411: calc(411 / var(--sw-base) * 100vw);
  --sw-412: calc(412 / var(--sw-base) * 100vw);
  --sw-413: calc(413 / var(--sw-base) * 100vw);
  --sw-414: calc(414 / var(--sw-base) * 100vw);
  --sw-415: calc(415 / var(--sw-base) * 100vw);
  --sw-416: calc(416 / var(--sw-base) * 100vw);
  --sw-417: calc(417 / var(--sw-base) * 100vw);
  --sw-418: calc(418 / var(--sw-base) * 100vw);
  --sw-419: calc(419 / var(--sw-base) * 100vw);
  --sw-420: calc(420 / var(--sw-base) * 100vw);
  --sw-421: calc(421 / var(--sw-base) * 100vw);
  --sw-422: calc(422 / var(--sw-base) * 100vw);
  --sw-423: calc(423 / var(--sw-base) * 100vw);
  --sw-424: calc(424 / var(--sw-base) * 100vw);
  --sw-425: calc(425 / var(--sw-base) * 100vw);
  --sw-426: calc(426 / var(--sw-base) * 100vw);
  --sw-427: calc(427 / var(--sw-base) * 100vw);
  --sw-428: calc(428 / var(--sw-base) * 100vw);
  --sw-429: calc(429 / var(--sw-base) * 100vw);
  --sw-430: calc(430 / var(--sw-base) * 100vw);
  --sw-431: calc(431 / var(--sw-base) * 100vw);
  --sw-432: calc(432 / var(--sw-base) * 100vw);
  --sw-433: calc(433 / var(--sw-base) * 100vw);
  --sw-434: calc(434 / var(--sw-base) * 100vw);
  --sw-435: calc(435 / var(--sw-base) * 100vw);
  --sw-436: calc(436 / var(--sw-base) * 100vw);
  --sw-437: calc(437 / var(--sw-base) * 100vw);
  --sw-438: calc(438 / var(--sw-base) * 100vw);
  --sw-439: calc(439 / var(--sw-base) * 100vw);
  --sw-440: calc(440 / var(--sw-base) * 100vw);
  --sw-441: calc(441 / var(--sw-base) * 100vw);
  --sw-442: calc(442 / var(--sw-base) * 100vw);
  --sw-443: calc(443 / var(--sw-base) * 100vw);
  --sw-444: calc(444 / var(--sw-base) * 100vw);
  --sw-445: calc(445 / var(--sw-base) * 100vw);
  --sw-446: calc(446 / var(--sw-base) * 100vw);
  --sw-447: calc(447 / var(--sw-base) * 100vw);
  --sw-448: calc(448 / var(--sw-base) * 100vw);
  --sw-449: calc(449 / var(--sw-base) * 100vw);
  --sw-450: calc(450 / var(--sw-base) * 100vw);
  --sw-451: calc(451 / var(--sw-base) * 100vw);
  --sw-452: calc(452 / var(--sw-base) * 100vw);
  --sw-453: calc(453 / var(--sw-base) * 100vw);
  --sw-454: calc(454 / var(--sw-base) * 100vw);
  --sw-455: calc(455 / var(--sw-base) * 100vw);
  --sw-456: calc(456 / var(--sw-base) * 100vw);
  --sw-457: calc(457 / var(--sw-base) * 100vw);
  --sw-458: calc(458 / var(--sw-base) * 100vw);
  --sw-459: calc(459 / var(--sw-base) * 100vw);
  --sw-460: calc(460 / var(--sw-base) * 100vw);
  --sw-461: calc(461 / var(--sw-base) * 100vw);
  --sw-462: calc(462 / var(--sw-base) * 100vw);
  --sw-463: calc(463 / var(--sw-base) * 100vw);
  --sw-464: calc(464 / var(--sw-base) * 100vw);
  --sw-465: calc(465 / var(--sw-base) * 100vw);
  --sw-466: calc(466 / var(--sw-base) * 100vw);
  --sw-467: calc(467 / var(--sw-base) * 100vw);
  --sw-468: calc(468 / var(--sw-base) * 100vw);
  --sw-469: calc(469 / var(--sw-base) * 100vw);
  --sw-470: calc(470 / var(--sw-base) * 100vw);
  --sw-471: calc(471 / var(--sw-base) * 100vw);
  --sw-472: calc(472 / var(--sw-base) * 100vw);
  --sw-473: calc(473 / var(--sw-base) * 100vw);
  --sw-474: calc(474 / var(--sw-base) * 100vw);
  --sw-475: calc(475 / var(--sw-base) * 100vw);
  --sw-476: calc(476 / var(--sw-base) * 100vw);
  --sw-477: calc(477 / var(--sw-base) * 100vw);
  --sw-478: calc(478 / var(--sw-base) * 100vw);
  --sw-479: calc(479 / var(--sw-base) * 100vw);
  --sw-480: calc(480 / var(--sw-base) * 100vw);
  --sw-481: calc(481 / var(--sw-base) * 100vw);
  --sw-482: calc(482 / var(--sw-base) * 100vw);
  --sw-483: calc(483 / var(--sw-base) * 100vw);
  --sw-484: calc(484 / var(--sw-base) * 100vw);
  --sw-485: calc(485 / var(--sw-base) * 100vw);
  --sw-486: calc(486 / var(--sw-base) * 100vw);
  --sw-487: calc(487 / var(--sw-base) * 100vw);
  --sw-488: calc(488 / var(--sw-base) * 100vw);
  --sw-489: calc(489 / var(--sw-base) * 100vw);
  --sw-490: calc(490 / var(--sw-base) * 100vw);
  --sw-491: calc(491 / var(--sw-base) * 100vw);
  --sw-492: calc(492 / var(--sw-base) * 100vw);
  --sw-493: calc(493 / var(--sw-base) * 100vw);
  --sw-494: calc(494 / var(--sw-base) * 100vw);
  --sw-495: calc(495 / var(--sw-base) * 100vw);
  --sw-496: calc(496 / var(--sw-base) * 100vw);
  --sw-497: calc(497 / var(--sw-base) * 100vw);
  --sw-498: calc(498 / var(--sw-base) * 100vw);
  --sw-499: calc(499 / var(--sw-base) * 100vw);

  /* 500 ********************************/
  --sw-500: calc(500 / var(--sw-base) * 100vw);
  --sw-501: calc(501 / var(--sw-base) * 100vw);
  --sw-502: calc(502 / var(--sw-base) * 100vw);
  --sw-503: calc(503 / var(--sw-base) * 100vw);
  --sw-504: calc(504 / var(--sw-base) * 100vw);
  --sw-505: calc(505 / var(--sw-base) * 100vw);
  --sw-506: calc(506 / var(--sw-base) * 100vw);
  --sw-507: calc(507 / var(--sw-base) * 100vw);
  --sw-508: calc(508 / var(--sw-base) * 100vw);
  --sw-509: calc(509 / var(--sw-base) * 100vw);
  --sw-510: calc(510 / var(--sw-base) * 100vw);
  --sw-511: calc(511 / var(--sw-base) * 100vw);
  --sw-512: calc(512 / var(--sw-base) * 100vw);
  --sw-513: calc(513 / var(--sw-base) * 100vw);
  --sw-514: calc(514 / var(--sw-base) * 100vw);
  --sw-515: calc(515 / var(--sw-base) * 100vw);
  --sw-516: calc(516 / var(--sw-base) * 100vw);
  --sw-517: calc(517 / var(--sw-base) * 100vw);
  --sw-518: calc(518 / var(--sw-base) * 100vw);
  --sw-519: calc(519 / var(--sw-base) * 100vw);
  --sw-520: calc(520 / var(--sw-base) * 100vw);
  --sw-521: calc(521 / var(--sw-base) * 100vw);
  --sw-522: calc(522 / var(--sw-base) * 100vw);
  --sw-523: calc(523 / var(--sw-base) * 100vw);
  --sw-524: calc(524 / var(--sw-base) * 100vw);
  --sw-525: calc(525 / var(--sw-base) * 100vw);
  --sw-526: calc(526 / var(--sw-base) * 100vw);
  --sw-527: calc(527 / var(--sw-base) * 100vw);
  --sw-528: calc(528 / var(--sw-base) * 100vw);
  --sw-529: calc(529 / var(--sw-base) * 100vw);
  --sw-530: calc(530 / var(--sw-base) * 100vw);
  --sw-531: calc(531 / var(--sw-base) * 100vw);
  --sw-532: calc(532 / var(--sw-base) * 100vw);
  --sw-533: calc(533 / var(--sw-base) * 100vw);
  --sw-534: calc(534 / var(--sw-base) * 100vw);
  --sw-535: calc(535 / var(--sw-base) * 100vw);
  --sw-536: calc(536 / var(--sw-base) * 100vw);
  --sw-537: calc(537 / var(--sw-base) * 100vw);
  --sw-538: calc(538 / var(--sw-base) * 100vw);
  --sw-539: calc(539 / var(--sw-base) * 100vw);
  --sw-540: calc(540 / var(--sw-base) * 100vw);
  --sw-541: calc(541 / var(--sw-base) * 100vw);
  --sw-542: calc(542 / var(--sw-base) * 100vw);
  --sw-543: calc(543 / var(--sw-base) * 100vw);
  --sw-544: calc(544 / var(--sw-base) * 100vw);
  --sw-545: calc(545 / var(--sw-base) * 100vw);
  --sw-546: calc(546 / var(--sw-base) * 100vw);
  --sw-547: calc(547 / var(--sw-base) * 100vw);
  --sw-548: calc(548 / var(--sw-base) * 100vw);
  --sw-549: calc(549 / var(--sw-base) * 100vw);
  --sw-550: calc(550 / var(--sw-base) * 100vw);
  --sw-551: calc(551 / var(--sw-base) * 100vw);
  --sw-552: calc(552 / var(--sw-base) * 100vw);
  --sw-553: calc(553 / var(--sw-base) * 100vw);
  --sw-554: calc(554 / var(--sw-base) * 100vw);
  --sw-555: calc(555 / var(--sw-base) * 100vw);
  --sw-556: calc(556 / var(--sw-base) * 100vw);
  --sw-557: calc(557 / var(--sw-base) * 100vw);
  --sw-558: calc(558 / var(--sw-base) * 100vw);
  --sw-559: calc(559 / var(--sw-base) * 100vw);
  --sw-560: calc(560 / var(--sw-base) * 100vw);
  --sw-561: calc(561 / var(--sw-base) * 100vw);
  --sw-562: calc(562 / var(--sw-base) * 100vw);
  --sw-563: calc(563 / var(--sw-base) * 100vw);
  --sw-564: calc(564 / var(--sw-base) * 100vw);
  --sw-565: calc(565 / var(--sw-base) * 100vw);
  --sw-566: calc(566 / var(--sw-base) * 100vw);
  --sw-567: calc(567 / var(--sw-base) * 100vw);
  --sw-568: calc(568 / var(--sw-base) * 100vw);
  --sw-569: calc(569 / var(--sw-base) * 100vw);
  --sw-570: calc(570 / var(--sw-base) * 100vw);
  --sw-571: calc(571 / var(--sw-base) * 100vw);
  --sw-572: calc(572 / var(--sw-base) * 100vw);
  --sw-573: calc(573 / var(--sw-base) * 100vw);
  --sw-574: calc(574 / var(--sw-base) * 100vw);
  --sw-575: calc(575 / var(--sw-base) * 100vw);
  --sw-576: calc(576 / var(--sw-base) * 100vw);
  --sw-577: calc(577 / var(--sw-base) * 100vw);
  --sw-578: calc(578 / var(--sw-base) * 100vw);
  --sw-579: calc(579 / var(--sw-base) * 100vw);
  --sw-580: calc(580 / var(--sw-base) * 100vw);
  --sw-581: calc(581 / var(--sw-base) * 100vw);
  --sw-582: calc(582 / var(--sw-base) * 100vw);
  --sw-583: calc(583 / var(--sw-base) * 100vw);
  --sw-584: calc(584 / var(--sw-base) * 100vw);
  --sw-585: calc(585 / var(--sw-base) * 100vw);
  --sw-586: calc(586 / var(--sw-base) * 100vw);
  --sw-587: calc(587 / var(--sw-base) * 100vw);
  --sw-588: calc(588 / var(--sw-base) * 100vw);
  --sw-589: calc(589 / var(--sw-base) * 100vw);
  --sw-590: calc(590 / var(--sw-base) * 100vw);
  --sw-591: calc(591 / var(--sw-base) * 100vw);
  --sw-592: calc(592 / var(--sw-base) * 100vw);
  --sw-593: calc(593 / var(--sw-base) * 100vw);
  --sw-594: calc(594 / var(--sw-base) * 100vw);
  --sw-595: calc(595 / var(--sw-base) * 100vw);
  --sw-596: calc(596 / var(--sw-base) * 100vw);
  --sw-597: calc(597 / var(--sw-base) * 100vw);
  --sw-598: calc(598 / var(--sw-base) * 100vw);
  --sw-599: calc(599 / var(--sw-base) * 100vw);

  /* 600 ********************************/
  --sw-600: calc(600 / var(--sw-base) * 100vw);
  --sw-601: calc(601 / var(--sw-base) * 100vw);
  --sw-602: calc(602 / var(--sw-base) * 100vw);
  --sw-603: calc(603 / var(--sw-base) * 100vw);
  --sw-604: calc(604 / var(--sw-base) * 100vw);
  --sw-605: calc(605 / var(--sw-base) * 100vw);
  --sw-606: calc(606 / var(--sw-base) * 100vw);
  --sw-607: calc(607 / var(--sw-base) * 100vw);
  --sw-608: calc(608 / var(--sw-base) * 100vw);
  --sw-609: calc(609 / var(--sw-base) * 100vw);
  --sw-610: calc(610 / var(--sw-base) * 100vw);
  --sw-611: calc(611 / var(--sw-base) * 100vw);
  --sw-612: calc(612 / var(--sw-base) * 100vw);
  --sw-613: calc(613 / var(--sw-base) * 100vw);
  --sw-614: calc(614 / var(--sw-base) * 100vw);
  --sw-615: calc(615 / var(--sw-base) * 100vw);
  --sw-616: calc(616 / var(--sw-base) * 100vw);
  --sw-617: calc(617 / var(--sw-base) * 100vw);
  --sw-618: calc(618 / var(--sw-base) * 100vw);
  --sw-619: calc(619 / var(--sw-base) * 100vw);
  --sw-620: calc(620 / var(--sw-base) * 100vw);
  --sw-621: calc(621 / var(--sw-base) * 100vw);
  --sw-622: calc(622 / var(--sw-base) * 100vw);
  --sw-623: calc(623 / var(--sw-base) * 100vw);
  --sw-624: calc(624 / var(--sw-base) * 100vw);
  --sw-625: calc(625 / var(--sw-base) * 100vw);
  --sw-626: calc(626 / var(--sw-base) * 100vw);
  --sw-627: calc(627 / var(--sw-base) * 100vw);
  --sw-628: calc(628 / var(--sw-base) * 100vw);
  --sw-629: calc(629 / var(--sw-base) * 100vw);
  --sw-630: calc(630 / var(--sw-base) * 100vw);
  --sw-631: calc(631 / var(--sw-base) * 100vw);
  --sw-632: calc(632 / var(--sw-base) * 100vw);
  --sw-633: calc(633 / var(--sw-base) * 100vw);
  --sw-634: calc(634 / var(--sw-base) * 100vw);
  --sw-635: calc(635 / var(--sw-base) * 100vw);
  --sw-636: calc(636 / var(--sw-base) * 100vw);
  --sw-637: calc(637 / var(--sw-base) * 100vw);
  --sw-638: calc(638 / var(--sw-base) * 100vw);
  --sw-639: calc(639 / var(--sw-base) * 100vw);
  --sw-640: calc(640 / var(--sw-base) * 100vw);
  --sw-641: calc(641 / var(--sw-base) * 100vw);
  --sw-642: calc(642 / var(--sw-base) * 100vw);
  --sw-643: calc(643 / var(--sw-base) * 100vw);
  --sw-644: calc(644 / var(--sw-base) * 100vw);
  --sw-645: calc(645 / var(--sw-base) * 100vw);
  --sw-646: calc(646 / var(--sw-base) * 100vw);
  --sw-647: calc(647 / var(--sw-base) * 100vw);
  --sw-648: calc(648 / var(--sw-base) * 100vw);
  --sw-649: calc(649 / var(--sw-base) * 100vw);
  --sw-650: calc(650 / var(--sw-base) * 100vw);
  --sw-651: calc(651 / var(--sw-base) * 100vw);
  --sw-652: calc(652 / var(--sw-base) * 100vw);
  --sw-653: calc(653 / var(--sw-base) * 100vw);
  --sw-654: calc(654 / var(--sw-base) * 100vw);
  --sw-655: calc(655 / var(--sw-base) * 100vw);
  --sw-656: calc(656 / var(--sw-base) * 100vw);
  --sw-657: calc(657 / var(--sw-base) * 100vw);
  --sw-658: calc(658 / var(--sw-base) * 100vw);
  --sw-659: calc(659 / var(--sw-base) * 100vw);
  --sw-660: calc(660 / var(--sw-base) * 100vw);
  --sw-661: calc(661 / var(--sw-base) * 100vw);
  --sw-662: calc(662 / var(--sw-base) * 100vw);
  --sw-663: calc(663 / var(--sw-base) * 100vw);
  --sw-664: calc(664 / var(--sw-base) * 100vw);
  --sw-665: calc(665 / var(--sw-base) * 100vw);
  --sw-666: calc(666 / var(--sw-base) * 100vw);
  --sw-667: calc(667 / var(--sw-base) * 100vw);
  --sw-668: calc(668 / var(--sw-base) * 100vw);
  --sw-669: calc(669 / var(--sw-base) * 100vw);
  --sw-670: calc(670 / var(--sw-base) * 100vw);
  --sw-671: calc(671 / var(--sw-base) * 100vw);
  --sw-672: calc(672 / var(--sw-base) * 100vw);
  --sw-673: calc(673 / var(--sw-base) * 100vw);
  --sw-674: calc(674 / var(--sw-base) * 100vw);
  --sw-675: calc(675 / var(--sw-base) * 100vw);
  --sw-676: calc(676 / var(--sw-base) * 100vw);
  --sw-677: calc(677 / var(--sw-base) * 100vw);
  --sw-678: calc(678 / var(--sw-base) * 100vw);
  --sw-679: calc(679 / var(--sw-base) * 100vw);
  --sw-680: calc(680 / var(--sw-base) * 100vw);
  --sw-681: calc(681 / var(--sw-base) * 100vw);
  --sw-682: calc(682 / var(--sw-base) * 100vw);
  --sw-683: calc(683 / var(--sw-base) * 100vw);
  --sw-684: calc(684 / var(--sw-base) * 100vw);
  --sw-685: calc(685 / var(--sw-base) * 100vw);
  --sw-686: calc(686 / var(--sw-base) * 100vw);
  --sw-687: calc(687 / var(--sw-base) * 100vw);
  --sw-688: calc(688 / var(--sw-base) * 100vw);
  --sw-689: calc(689 / var(--sw-base) * 100vw);
  --sw-690: calc(690 / var(--sw-base) * 100vw);
  --sw-691: calc(691 / var(--sw-base) * 100vw);
  --sw-692: calc(692 / var(--sw-base) * 100vw);
  --sw-693: calc(693 / var(--sw-base) * 100vw);
  --sw-694: calc(694 / var(--sw-base) * 100vw);
  --sw-695: calc(695 / var(--sw-base) * 100vw);
  --sw-696: calc(696 / var(--sw-base) * 100vw);
  --sw-697: calc(697 / var(--sw-base) * 100vw);
  --sw-698: calc(698 / var(--sw-base) * 100vw);
  --sw-699: calc(699 / var(--sw-base) * 100vw);

  /* 700 ********************************/
  --sw-700: calc(700 / var(--sw-base) * 100vw);
  --sw-701: calc(701 / var(--sw-base) * 100vw);
  --sw-702: calc(702 / var(--sw-base) * 100vw);
  --sw-703: calc(703 / var(--sw-base) * 100vw);
  --sw-704: calc(704 / var(--sw-base) * 100vw);
  --sw-705: calc(705 / var(--sw-base) * 100vw);
  --sw-706: calc(706 / var(--sw-base) * 100vw);
  --sw-707: calc(707 / var(--sw-base) * 100vw);
  --sw-708: calc(708 / var(--sw-base) * 100vw);
  --sw-709: calc(709 / var(--sw-base) * 100vw);
  --sw-710: calc(710 / var(--sw-base) * 100vw);
  --sw-711: calc(711 / var(--sw-base) * 100vw);
  --sw-712: calc(712 / var(--sw-base) * 100vw);
  --sw-713: calc(713 / var(--sw-base) * 100vw);
  --sw-714: calc(714 / var(--sw-base) * 100vw);
  --sw-715: calc(715 / var(--sw-base) * 100vw);
  --sw-716: calc(716 / var(--sw-base) * 100vw);
  --sw-717: calc(717 / var(--sw-base) * 100vw);
  --sw-718: calc(718 / var(--sw-base) * 100vw);
  --sw-719: calc(719 / var(--sw-base) * 100vw);
  --sw-720: calc(720 / var(--sw-base) * 100vw);
  --sw-721: calc(721 / var(--sw-base) * 100vw);
  --sw-722: calc(722 / var(--sw-base) * 100vw);
  --sw-723: calc(723 / var(--sw-base) * 100vw);
  --sw-724: calc(724 / var(--sw-base) * 100vw);
  --sw-725: calc(725 / var(--sw-base) * 100vw);
  --sw-726: calc(726 / var(--sw-base) * 100vw);
  --sw-727: calc(727 / var(--sw-base) * 100vw);
  --sw-728: calc(728 / var(--sw-base) * 100vw);
  --sw-729: calc(729 / var(--sw-base) * 100vw);
  --sw-730: calc(730 / var(--sw-base) * 100vw);
  --sw-731: calc(731 / var(--sw-base) * 100vw);
  --sw-732: calc(732 / var(--sw-base) * 100vw);
  --sw-733: calc(733 / var(--sw-base) * 100vw);
  --sw-734: calc(734 / var(--sw-base) * 100vw);
  --sw-735: calc(735 / var(--sw-base) * 100vw);
  --sw-736: calc(736 / var(--sw-base) * 100vw);
  --sw-737: calc(737 / var(--sw-base) * 100vw);
  --sw-738: calc(738 / var(--sw-base) * 100vw);
  --sw-739: calc(739 / var(--sw-base) * 100vw);
  --sw-740: calc(740 / var(--sw-base) * 100vw);
  --sw-741: calc(741 / var(--sw-base) * 100vw);
  --sw-742: calc(742 / var(--sw-base) * 100vw);
  --sw-743: calc(743 / var(--sw-base) * 100vw);
  --sw-744: calc(744 / var(--sw-base) * 100vw);
  --sw-745: calc(745 / var(--sw-base) * 100vw);
  --sw-746: calc(746 / var(--sw-base) * 100vw);
  --sw-747: calc(747 / var(--sw-base) * 100vw);
  --sw-748: calc(748 / var(--sw-base) * 100vw);
  --sw-749: calc(749 / var(--sw-base) * 100vw);
  --sw-750: calc(750 / var(--sw-base) * 100vw);
  --sw-751: calc(751 / var(--sw-base) * 100vw);
  --sw-752: calc(752 / var(--sw-base) * 100vw);
  --sw-753: calc(753 / var(--sw-base) * 100vw);
  --sw-754: calc(754 / var(--sw-base) * 100vw);
  --sw-755: calc(755 / var(--sw-base) * 100vw);
  --sw-756: calc(756 / var(--sw-base) * 100vw);
  --sw-757: calc(757 / var(--sw-base) * 100vw);
  --sw-758: calc(758 / var(--sw-base) * 100vw);
  --sw-759: calc(759 / var(--sw-base) * 100vw);
  --sw-760: calc(760 / var(--sw-base) * 100vw);
  --sw-761: calc(761 / var(--sw-base) * 100vw);
  --sw-762: calc(762 / var(--sw-base) * 100vw);
  --sw-763: calc(763 / var(--sw-base) * 100vw);
  --sw-764: calc(764 / var(--sw-base) * 100vw);
  --sw-765: calc(765 / var(--sw-base) * 100vw);
  --sw-766: calc(766 / var(--sw-base) * 100vw);
  --sw-767: calc(767 / var(--sw-base) * 100vw);
  --sw-768: calc(768 / var(--sw-base) * 100vw);
  --sw-769: calc(769 / var(--sw-base) * 100vw);
  --sw-770: calc(770 / var(--sw-base) * 100vw);
  --sw-771: calc(771 / var(--sw-base) * 100vw);
  --sw-772: calc(772 / var(--sw-base) * 100vw);
  --sw-773: calc(773 / var(--sw-base) * 100vw);
  --sw-774: calc(774 / var(--sw-base) * 100vw);
  --sw-775: calc(775 / var(--sw-base) * 100vw);
  --sw-776: calc(776 / var(--sw-base) * 100vw);
  --sw-777: calc(777 / var(--sw-base) * 100vw);
  --sw-778: calc(778 / var(--sw-base) * 100vw);
  --sw-779: calc(779 / var(--sw-base) * 100vw);
  --sw-780: calc(780 / var(--sw-base) * 100vw);
  --sw-781: calc(781 / var(--sw-base) * 100vw);
  --sw-782: calc(782 / var(--sw-base) * 100vw);
  --sw-783: calc(783 / var(--sw-base) * 100vw);
  --sw-784: calc(784 / var(--sw-base) * 100vw);
  --sw-785: calc(785 / var(--sw-base) * 100vw);
  --sw-786: calc(786 / var(--sw-base) * 100vw);
  --sw-787: calc(787 / var(--sw-base) * 100vw);
  --sw-788: calc(788 / var(--sw-base) * 100vw);
  --sw-789: calc(789 / var(--sw-base) * 100vw);
  --sw-790: calc(790 / var(--sw-base) * 100vw);
  --sw-791: calc(791 / var(--sw-base) * 100vw);
  --sw-792: calc(792 / var(--sw-base) * 100vw);
  --sw-793: calc(793 / var(--sw-base) * 100vw);
  --sw-794: calc(794 / var(--sw-base) * 100vw);
  --sw-795: calc(795 / var(--sw-base) * 100vw);
  --sw-796: calc(796 / var(--sw-base) * 100vw);
  --sw-797: calc(797 / var(--sw-base) * 100vw);
  --sw-798: calc(798 / var(--sw-base) * 100vw);
  --sw-799: calc(799 / var(--sw-base) * 100vw);

  /* 800 ********************************/
  --sw-800: calc(800 / var(--sw-base) * 100vw);
  --sw-801: calc(801 / var(--sw-base) * 100vw);
  --sw-802: calc(802 / var(--sw-base) * 100vw);
  --sw-803: calc(803 / var(--sw-base) * 100vw);
  --sw-804: calc(804 / var(--sw-base) * 100vw);
  --sw-805: calc(805 / var(--sw-base) * 100vw);
  --sw-806: calc(806 / var(--sw-base) * 100vw);
  --sw-807: calc(807 / var(--sw-base) * 100vw);
  --sw-808: calc(808 / var(--sw-base) * 100vw);
  --sw-809: calc(809 / var(--sw-base) * 100vw);
  --sw-810: calc(810 / var(--sw-base) * 100vw);
  --sw-811: calc(811 / var(--sw-base) * 100vw);
  --sw-812: calc(812 / var(--sw-base) * 100vw);
  --sw-813: calc(813 / var(--sw-base) * 100vw);
  --sw-814: calc(814 / var(--sw-base) * 100vw);
  --sw-815: calc(815 / var(--sw-base) * 100vw);
  --sw-816: calc(816 / var(--sw-base) * 100vw);
  --sw-817: calc(817 / var(--sw-base) * 100vw);
  --sw-818: calc(818 / var(--sw-base) * 100vw);
  --sw-819: calc(819 / var(--sw-base) * 100vw);
  --sw-820: calc(820 / var(--sw-base) * 100vw);
  --sw-821: calc(821 / var(--sw-base) * 100vw);
  --sw-822: calc(822 / var(--sw-base) * 100vw);
  --sw-823: calc(823 / var(--sw-base) * 100vw);
  --sw-824: calc(824 / var(--sw-base) * 100vw);
  --sw-825: calc(825 / var(--sw-base) * 100vw);
  --sw-826: calc(826 / var(--sw-base) * 100vw);
  --sw-827: calc(827 / var(--sw-base) * 100vw);
  --sw-828: calc(828 / var(--sw-base) * 100vw);
  --sw-829: calc(829 / var(--sw-base) * 100vw);
  --sw-830: calc(830 / var(--sw-base) * 100vw);
  --sw-831: calc(831 / var(--sw-base) * 100vw);
  --sw-832: calc(832 / var(--sw-base) * 100vw);
  --sw-833: calc(833 / var(--sw-base) * 100vw);
  --sw-834: calc(834 / var(--sw-base) * 100vw);
  --sw-835: calc(835 / var(--sw-base) * 100vw);
  --sw-836: calc(836 / var(--sw-base) * 100vw);
  --sw-837: calc(837 / var(--sw-base) * 100vw);
  --sw-838: calc(838 / var(--sw-base) * 100vw);
  --sw-839: calc(839 / var(--sw-base) * 100vw);
  --sw-840: calc(840 / var(--sw-base) * 100vw);
  --sw-841: calc(841 / var(--sw-base) * 100vw);
  --sw-842: calc(842 / var(--sw-base) * 100vw);
  --sw-843: calc(843 / var(--sw-base) * 100vw);
  --sw-844: calc(844 / var(--sw-base) * 100vw);
  --sw-845: calc(845 / var(--sw-base) * 100vw);
  --sw-846: calc(846 / var(--sw-base) * 100vw);
  --sw-847: calc(847 / var(--sw-base) * 100vw);
  --sw-848: calc(848 / var(--sw-base) * 100vw);
  --sw-849: calc(849 / var(--sw-base) * 100vw);
  --sw-850: calc(850 / var(--sw-base) * 100vw);
  --sw-851: calc(851 / var(--sw-base) * 100vw);
  --sw-852: calc(852 / var(--sw-base) * 100vw);
  --sw-853: calc(853 / var(--sw-base) * 100vw);
  --sw-854: calc(854 / var(--sw-base) * 100vw);
  --sw-855: calc(855 / var(--sw-base) * 100vw);
  --sw-856: calc(856 / var(--sw-base) * 100vw);
  --sw-857: calc(857 / var(--sw-base) * 100vw);
  --sw-858: calc(858 / var(--sw-base) * 100vw);
  --sw-859: calc(859 / var(--sw-base) * 100vw);
  --sw-860: calc(860 / var(--sw-base) * 100vw);
  --sw-861: calc(861 / var(--sw-base) * 100vw);
  --sw-862: calc(862 / var(--sw-base) * 100vw);
  --sw-863: calc(863 / var(--sw-base) * 100vw);
  --sw-864: calc(864 / var(--sw-base) * 100vw);
  --sw-865: calc(865 / var(--sw-base) * 100vw);
  --sw-866: calc(866 / var(--sw-base) * 100vw);
  --sw-867: calc(867 / var(--sw-base) * 100vw);
  --sw-868: calc(868 / var(--sw-base) * 100vw);
  --sw-869: calc(869 / var(--sw-base) * 100vw);
  --sw-870: calc(870 / var(--sw-base) * 100vw);
  --sw-871: calc(871 / var(--sw-base) * 100vw);
  --sw-872: calc(872 / var(--sw-base) * 100vw);
  --sw-873: calc(873 / var(--sw-base) * 100vw);
  --sw-874: calc(874 / var(--sw-base) * 100vw);
  --sw-875: calc(875 / var(--sw-base) * 100vw);
  --sw-876: calc(876 / var(--sw-base) * 100vw);
  --sw-877: calc(877 / var(--sw-base) * 100vw);
  --sw-878: calc(878 / var(--sw-base) * 100vw);
  --sw-879: calc(879 / var(--sw-base) * 100vw);
  --sw-880: calc(880 / var(--sw-base) * 100vw);
  --sw-881: calc(881 / var(--sw-base) * 100vw);
  --sw-882: calc(882 / var(--sw-base) * 100vw);
  --sw-883: calc(883 / var(--sw-base) * 100vw);
  --sw-884: calc(884 / var(--sw-base) * 100vw);
  --sw-885: calc(885 / var(--sw-base) * 100vw);
  --sw-886: calc(886 / var(--sw-base) * 100vw);
  --sw-887: calc(887 / var(--sw-base) * 100vw);
  --sw-888: calc(888 / var(--sw-base) * 100vw);
  --sw-889: calc(889 / var(--sw-base) * 100vw);
  --sw-890: calc(890 / var(--sw-base) * 100vw);
  --sw-891: calc(891 / var(--sw-base) * 100vw);
  --sw-892: calc(892 / var(--sw-base) * 100vw);
  --sw-893: calc(893 / var(--sw-base) * 100vw);
  --sw-894: calc(894 / var(--sw-base) * 100vw);
  --sw-895: calc(895 / var(--sw-base) * 100vw);
  --sw-896: calc(896 / var(--sw-base) * 100vw);
  --sw-897: calc(897 / var(--sw-base) * 100vw);
  --sw-898: calc(898 / var(--sw-base) * 100vw);
  --sw-899: calc(899 / var(--sw-base) * 100vw);

  /* 900 ********************************/
  --sw-900: calc(900 / var(--sw-base) * 100vw);
  --sw-901: calc(901 / var(--sw-base) * 100vw);
  --sw-902: calc(902 / var(--sw-base) * 100vw);
  --sw-903: calc(903 / var(--sw-base) * 100vw);
  --sw-904: calc(904 / var(--sw-base) * 100vw);
  --sw-905: calc(905 / var(--sw-base) * 100vw);
  --sw-906: calc(906 / var(--sw-base) * 100vw);
  --sw-907: calc(907 / var(--sw-base) * 100vw);
  --sw-908: calc(908 / var(--sw-base) * 100vw);
  --sw-909: calc(909 / var(--sw-base) * 100vw);
  --sw-910: calc(910 / var(--sw-base) * 100vw);
  --sw-911: calc(911 / var(--sw-base) * 100vw);
  --sw-912: calc(912 / var(--sw-base) * 100vw);
  --sw-913: calc(913 / var(--sw-base) * 100vw);
  --sw-914: calc(914 / var(--sw-base) * 100vw);
  --sw-915: calc(915 / var(--sw-base) * 100vw);
  --sw-916: calc(916 / var(--sw-base) * 100vw);
  --sw-917: calc(917 / var(--sw-base) * 100vw);
  --sw-918: calc(918 / var(--sw-base) * 100vw);
  --sw-919: calc(919 / var(--sw-base) * 100vw);
  --sw-920: calc(920 / var(--sw-base) * 100vw);
  --sw-921: calc(921 / var(--sw-base) * 100vw);
  --sw-922: calc(922 / var(--sw-base) * 100vw);
  --sw-923: calc(923 / var(--sw-base) * 100vw);
  --sw-924: calc(924 / var(--sw-base) * 100vw);
  --sw-925: calc(925 / var(--sw-base) * 100vw);
  --sw-926: calc(926 / var(--sw-base) * 100vw);
  --sw-927: calc(927 / var(--sw-base) * 100vw);
  --sw-928: calc(928 / var(--sw-base) * 100vw);
  --sw-929: calc(929 / var(--sw-base) * 100vw);
  --sw-930: calc(930 / var(--sw-base) * 100vw);
  --sw-931: calc(931 / var(--sw-base) * 100vw);
  --sw-932: calc(932 / var(--sw-base) * 100vw);
  --sw-933: calc(933 / var(--sw-base) * 100vw);
  --sw-934: calc(934 / var(--sw-base) * 100vw);
  --sw-935: calc(935 / var(--sw-base) * 100vw);
  --sw-936: calc(936 / var(--sw-base) * 100vw);
  --sw-937: calc(937 / var(--sw-base) * 100vw);
  --sw-938: calc(938 / var(--sw-base) * 100vw);
  --sw-939: calc(939 / var(--sw-base) * 100vw);
  --sw-940: calc(940 / var(--sw-base) * 100vw);
  --sw-941: calc(941 / var(--sw-base) * 100vw);
  --sw-942: calc(942 / var(--sw-base) * 100vw);
  --sw-943: calc(943 / var(--sw-base) * 100vw);
  --sw-944: calc(944 / var(--sw-base) * 100vw);
  --sw-945: calc(945 / var(--sw-base) * 100vw);
  --sw-946: calc(946 / var(--sw-base) * 100vw);
  --sw-947: calc(947 / var(--sw-base) * 100vw);
  --sw-948: calc(948 / var(--sw-base) * 100vw);
  --sw-949: calc(949 / var(--sw-base) * 100vw);
  --sw-950: calc(950 / var(--sw-base) * 100vw);
  --sw-951: calc(951 / var(--sw-base) * 100vw);
  --sw-952: calc(952 / var(--sw-base) * 100vw);
  --sw-953: calc(953 / var(--sw-base) * 100vw);
  --sw-954: calc(954 / var(--sw-base) * 100vw);
  --sw-955: calc(955 / var(--sw-base) * 100vw);
  --sw-956: calc(956 / var(--sw-base) * 100vw);
  --sw-957: calc(957 / var(--sw-base) * 100vw);
  --sw-958: calc(958 / var(--sw-base) * 100vw);
  --sw-959: calc(959 / var(--sw-base) * 100vw);
  --sw-960: calc(960 / var(--sw-base) * 100vw);
  --sw-961: calc(961 / var(--sw-base) * 100vw);
  --sw-962: calc(962 / var(--sw-base) * 100vw);
  --sw-963: calc(963 / var(--sw-base) * 100vw);
  --sw-964: calc(964 / var(--sw-base) * 100vw);
  --sw-965: calc(965 / var(--sw-base) * 100vw);
  --sw-966: calc(966 / var(--sw-base) * 100vw);
  --sw-967: calc(967 / var(--sw-base) * 100vw);
  --sw-968: calc(968 / var(--sw-base) * 100vw);
  --sw-969: calc(969 / var(--sw-base) * 100vw);
  --sw-970: calc(970 / var(--sw-base) * 100vw);
  --sw-971: calc(971 / var(--sw-base) * 100vw);
  --sw-972: calc(972 / var(--sw-base) * 100vw);
  --sw-973: calc(973 / var(--sw-base) * 100vw);
  --sw-974: calc(974 / var(--sw-base) * 100vw);
  --sw-975: calc(975 / var(--sw-base) * 100vw);
  --sw-976: calc(976 / var(--sw-base) * 100vw);
  --sw-977: calc(977 / var(--sw-base) * 100vw);
  --sw-978: calc(978 / var(--sw-base) * 100vw);
  --sw-979: calc(979 / var(--sw-base) * 100vw);
  --sw-980: calc(980 / var(--sw-base) * 100vw);
  --sw-981: calc(981 / var(--sw-base) * 100vw);
  --sw-982: calc(982 / var(--sw-base) * 100vw);
  --sw-983: calc(983 / var(--sw-base) * 100vw);
  --sw-984: calc(984 / var(--sw-base) * 100vw);
  --sw-985: calc(985 / var(--sw-base) * 100vw);
  --sw-986: calc(986 / var(--sw-base) * 100vw);
  --sw-987: calc(987 / var(--sw-base) * 100vw);
  --sw-988: calc(988 / var(--sw-base) * 100vw);
  --sw-989: calc(989 / var(--sw-base) * 100vw);
  --sw-990: calc(990 / var(--sw-base) * 100vw);
  --sw-991: calc(991 / var(--sw-base) * 100vw);
  --sw-992: calc(992 / var(--sw-base) * 100vw);
  --sw-993: calc(993 / var(--sw-base) * 100vw);
  --sw-994: calc(994 / var(--sw-base) * 100vw);
  --sw-995: calc(995 / var(--sw-base) * 100vw);
  --sw-996: calc(996 / var(--sw-base) * 100vw);
  --sw-997: calc(997 / var(--sw-base) * 100vw);
  --sw-998: calc(998 / var(--sw-base) * 100vw);
  --sw-999: calc(999 / var(--sw-base) * 100vw);

  /* 1000 ********************************/
  --sw-1000: calc(1000 / var(--sw-base) * 100vw);
  --sw-1001: calc(1001 / var(--sw-base) * 100vw);
  --sw-1002: calc(1002 / var(--sw-base) * 100vw);
  --sw-1003: calc(1003 / var(--sw-base) * 100vw);
  --sw-1004: calc(1004 / var(--sw-base) * 100vw);
  --sw-1005: calc(1005 / var(--sw-base) * 100vw);
  --sw-1006: calc(1006 / var(--sw-base) * 100vw);
  --sw-1007: calc(1007 / var(--sw-base) * 100vw);
  --sw-1008: calc(1008 / var(--sw-base) * 100vw);
  --sw-1009: calc(1009 / var(--sw-base) * 100vw);
  --sw-1010: calc(1010 / var(--sw-base) * 100vw);
  --sw-1011: calc(1011 / var(--sw-base) * 100vw);
  --sw-1012: calc(1012 / var(--sw-base) * 100vw);
  --sw-1013: calc(1013 / var(--sw-base) * 100vw);
  --sw-1014: calc(1014 / var(--sw-base) * 100vw);
  --sw-1015: calc(1015 / var(--sw-base) * 100vw);
  --sw-1016: calc(1016 / var(--sw-base) * 100vw);
  --sw-1017: calc(1017 / var(--sw-base) * 100vw);
  --sw-1018: calc(1018 / var(--sw-base) * 100vw);
  --sw-1019: calc(1019 / var(--sw-base) * 100vw);
  --sw-1020: calc(1020 / var(--sw-base) * 100vw);
  --sw-1021: calc(1021 / var(--sw-base) * 100vw);
  --sw-1022: calc(1022 / var(--sw-base) * 100vw);
  --sw-1023: calc(1023 / var(--sw-base) * 100vw);
  --sw-1024: calc(1024 / var(--sw-base) * 100vw);
  --sw-1025: calc(1025 / var(--sw-base) * 100vw);
  --sw-1026: calc(1026 / var(--sw-base) * 100vw);
  --sw-1027: calc(1027 / var(--sw-base) * 100vw);
  --sw-1028: calc(1028 / var(--sw-base) * 100vw);
  --sw-1029: calc(1029 / var(--sw-base) * 100vw);
  --sw-1030: calc(1030 / var(--sw-base) * 100vw);
  --sw-1031: calc(1031 / var(--sw-base) * 100vw);
  --sw-1032: calc(1032 / var(--sw-base) * 100vw);
  --sw-1033: calc(1033 / var(--sw-base) * 100vw);
  --sw-1034: calc(1034 / var(--sw-base) * 100vw);
  --sw-1035: calc(1035 / var(--sw-base) * 100vw);
  --sw-1036: calc(1036 / var(--sw-base) * 100vw);
  --sw-1037: calc(1037 / var(--sw-base) * 100vw);
  --sw-1038: calc(1038 / var(--sw-base) * 100vw);
  --sw-1039: calc(1039 / var(--sw-base) * 100vw);
  --sw-1040: calc(1040 / var(--sw-base) * 100vw);
  --sw-1041: calc(1041 / var(--sw-base) * 100vw);
  --sw-1042: calc(1042 / var(--sw-base) * 100vw);
  --sw-1043: calc(1043 / var(--sw-base) * 100vw);
  --sw-1044: calc(1044 / var(--sw-base) * 100vw);
  --sw-1045: calc(1045 / var(--sw-base) * 100vw);
  --sw-1046: calc(1046 / var(--sw-base) * 100vw);
  --sw-1047: calc(1047 / var(--sw-base) * 100vw);
  --sw-1048: calc(1048 / var(--sw-base) * 100vw);
  --sw-1049: calc(1049 / var(--sw-base) * 100vw);
  --sw-1050: calc(1050 / var(--sw-base) * 100vw);
  --sw-1051: calc(1051 / var(--sw-base) * 100vw);
  --sw-1052: calc(1052 / var(--sw-base) * 100vw);
  --sw-1053: calc(1053 / var(--sw-base) * 100vw);
  --sw-1054: calc(1054 / var(--sw-base) * 100vw);
  --sw-1055: calc(1055 / var(--sw-base) * 100vw);
  --sw-1056: calc(1056 / var(--sw-base) * 100vw);
  --sw-1057: calc(1057 / var(--sw-base) * 100vw);
  --sw-1058: calc(1058 / var(--sw-base) * 100vw);
  --sw-1059: calc(1059 / var(--sw-base) * 100vw);
  --sw-1060: calc(1060 / var(--sw-base) * 100vw);
  --sw-1061: calc(1061 / var(--sw-base) * 100vw);
  --sw-1062: calc(1062 / var(--sw-base) * 100vw);
  --sw-1063: calc(1063 / var(--sw-base) * 100vw);
  --sw-1064: calc(1064 / var(--sw-base) * 100vw);
  --sw-1065: calc(1065 / var(--sw-base) * 100vw);
  --sw-1066: calc(1066 / var(--sw-base) * 100vw);
  --sw-1067: calc(1067 / var(--sw-base) * 100vw);
  --sw-1068: calc(1068 / var(--sw-base) * 100vw);
  --sw-1069: calc(1069 / var(--sw-base) * 100vw);
  --sw-1070: calc(1070 / var(--sw-base) * 100vw);
  --sw-1071: calc(1071 / var(--sw-base) * 100vw);
  --sw-1072: calc(1072 / var(--sw-base) * 100vw);
  --sw-1073: calc(1073 / var(--sw-base) * 100vw);
  --sw-1074: calc(1074 / var(--sw-base) * 100vw);
  --sw-1075: calc(1075 / var(--sw-base) * 100vw);
  --sw-1076: calc(1076 / var(--sw-base) * 100vw);
  --sw-1077: calc(1077 / var(--sw-base) * 100vw);
  --sw-1078: calc(1078 / var(--sw-base) * 100vw);
  --sw-1079: calc(1079 / var(--sw-base) * 100vw);
  --sw-1080: calc(1080 / var(--sw-base) * 100vw);
  --sw-1081: calc(1081 / var(--sw-base) * 100vw);
  --sw-1082: calc(1082 / var(--sw-base) * 100vw);
  --sw-1083: calc(1083 / var(--sw-base) * 100vw);
  --sw-1084: calc(1084 / var(--sw-base) * 100vw);
  --sw-1085: calc(1085 / var(--sw-base) * 100vw);
  --sw-1086: calc(1086 / var(--sw-base) * 100vw);
  --sw-1087: calc(1087 / var(--sw-base) * 100vw);
  --sw-1088: calc(1088 / var(--sw-base) * 100vw);
  --sw-1089: calc(1089 / var(--sw-base) * 100vw);
  --sw-1090: calc(1090 / var(--sw-base) * 100vw);
  --sw-1091: calc(1091 / var(--sw-base) * 100vw);
  --sw-1092: calc(1092 / var(--sw-base) * 100vw);
  --sw-1093: calc(1093 / var(--sw-base) * 100vw);
  --sw-1094: calc(1094 / var(--sw-base) * 100vw);
  --sw-1095: calc(1095 / var(--sw-base) * 100vw);
  --sw-1096: calc(1096 / var(--sw-base) * 100vw);
  --sw-1097: calc(1097 / var(--sw-base) * 100vw);
  --sw-1098: calc(1098 / var(--sw-base) * 100vw);
  --sw-1099: calc(1099 / var(--sw-base) * 100vw);

}