.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #ffc502;
    width: 100%;
    height: 10vh;
    padding-left: 20px;
}

.logo_img {
    width: 106px;
}