<h1 class="h1">Main menu</h1>

<section class="menu mt-5">
  <button pButton class="p-button-secondary" routerLink="/agency-manager/">
    Agencies
  </button>

  <button pButton class="p-button-secondary" routerLink="/lead-manager/">
    Leads
  </button>

  <button pButton class="p-button-secondary" routerLink="/product-manager/">
    Builder
  </button>

  <button
    pButton
    class="p-button-secondary"
    routerLink="/presentation-manager/"
  >
    Presentation
  </button>

  <button pButton class="p-button-secondary" routerLink="/product-manager/">
    Products
  </button>

  <button pButton class="p-button-secondary" routerLink="/setting-manager/">
    Settings
  </button>
</section>

<section>
  <br />
</section>

<section class="menu">
  <button pButton class="btn button-blue" routerLink="/landing-manager/login">
    Login Page
  </button>
</section>
