.card-container {
  width: 100%;
  margin-top: 22px;
  min-height: 97px;
  border-radius: 4px;
  border: solid 1px #e3e9f3;
  background-color: #fff;
}

label {
  font-family: Inter;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1e375b;
}
