<!-- <article class="list_toolbar">
  <section class="list_toolbar--title_area">
    <span class="form_title">Users</span>
    <p
      class="small"
      *ngIf="
        stateTemp.userControl.userTotalCount ==
        stateTemp.userControl.userFilterCount
      "
    >
      {{ stateTemp.userControl.userTotalCount }} entries found
    </p>
    <p
      class="small"
      *ngIf="
        !(
          stateTemp.userControl.userTotalCount ==
          stateTemp.userControl.userFilterCount
        )
      "
    >
      {{ stateTemp.userControl.userFilterCount }} entries found
    </p>
  </section>

  <section class="flex-center">
    <button
      class="btn button-green"
      matTooltip="Fiter options"
      (click)="filterOptions()"
    >
      <div class="flex-center">
        <i>filter_list</i>
      </div>
    </button>

    <button
      class="btn button-green"
      matTooltip="Add new user"
      (click)="handleNew()"
    >
      <div class="flex-center">
        <i>control_point</i>
        <span>Add new user</span>
      </div>
    </button>
  </section>
</article> -->
