<section class="reset_page">
  <section class="reset_page-grid">
    <div class="reset__form--area">
      <landing-header></landing-header>
      <div>
        <request-form></request-form>
      </div>

      <div>
        <!-- <reset-form></reset-form> -->
      </div>

      <div>
        <!-- <landing-footer></landing-footer> -->
      </div>
    </div>

    <!-- Photo -->
    <section class="reset_img--area">
      <div class="reset_img-block">
        <img
          class="reset__img--logo"
          src="/assets/img/client/logo_white.svg"
          alt
        />
      </div>

      <div class="reset_img--footer-area">
        <div class="reset_img--footer-block">
          <p>The Best Business Real State Opportunity</p>
        </div>
      </div>
    </section>
  </section>
</section>
