<div class="container-info-detail">
  <div class="column-info-detail">
    <label>Information</label>
    <div class="row-info-detail">
      <h3 class="h3-info-detail">LAST UPDATE</h3>
      <span class="p-info-detail">{{ date_updated }}</span>
    </div>
    <div class="row-info-detail">
      <h3 class="h3-info-detail">BY</h3>
      <span class="p-info-detail">{{ user_updated }}</span>
    </div>
    <div class="row-info-detail">
      <h3 class="h3-info-detail">STATUS</h3>
      <span class="p-info-detail">{{ user_status }}</span>
    </div>
  </div>
  <div class="column-info-detail">
    <div class="container-btn-info-detail">
      <button class="btn-info-detail-send">Send email</button>
    </div>
  </div>
</div>
