<!-- <mat-toolbar>
  <button
    i-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <i hidden="true">menu</i>
  </button>

  <span class="example-spacer"></span>

  <span>Super Admin</span>
  <button
    i-button
    [matMenuTriggerFor]="menu"
    aria-label="Example icon-button with a menu"
  >
    <i>more_vert</i>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <i>dialpad</i>
      <span>Redial</span>
    </button>
    <button mat-menu-item disabled>
      <i>voicemail</i>
      <span>Check voice mail</span>
    </button>
    <button mat-menu-item>
      <i>notifications_off</i>
      <span>Disable alerts</span>
    </button>
  </mat-menu>
</mat-toolbar> -->
