.p-checkbox {
  width: 20px;
  height: 20px;
}
.p-checkbox .p-checkbox-box {
  border: 1px solid #3f4b5b;
  background: var(--blue-100);
  width: 20px;
  height: 20px;
  color: rgba(255, 255, 255, 0.87);
  border-radius: var(--border-radius-field);
  transition: background-color 0.15s, border-color 0.15s, box-shadow 0.15s;
}
.p-checkbox .p-checkbox-box .p-checkbox-icon {
  transition-duration: 0.15s;
  color: #151515;
  font-size: 14px;
}
.p-checkbox .p-checkbox-box.p-highlight {
  border-color: #8dd0ff;
  background: #8dd0ff;
}
.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover {
  border-color: #3f4b5b;
}
.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 1px #e3f3fe;
  border-color: #8dd0ff;
}
.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
  border-color: #1dadff;
  background: #1dadff;
  color: #151515;
}

p-checkbox.ng-dirty.ng-invalid > .p-checkbox > .p-checkbox-box {
  border-color: var(--danger-color);
}

.p-input-filled .p-checkbox .p-checkbox-box {
  background-color: #3f4b5b;
}
.p-input-filled .p-checkbox .p-checkbox-box.p-highlight {
  background: #8dd0ff;
}
.p-input-filled .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover {
  background-color: #3f4b5b;
}
.p-input-filled
  .p-checkbox:not(.p-checkbox-disabled)
  .p-checkbox-box.p-highlight:hover {
  background: #1dadff;
}

.p-checkbox-label {
  margin-left: 0.5rem;
}

.p-highlight .p-checkbox .p-checkbox-box {
  border-color: #151515;
}
