.p-colorpicker-preview,
.p-fluid .p-colorpicker-preview.p-inputtext {
  width: 2rem;
  height: 2rem;
}

.p-colorpicker-panel {
  background: #2a323d;
  border: 1px solid #3f4b5b;
}
.p-colorpicker-panel .p-colorpicker-color-handle,
.p-colorpicker-panel .p-colorpicker-hue-handle {
  border-color: rgba(255, 255, 255, 0.87);
}

.p-colorpicker-overlay-panel {
  box-shadow: none;
}
