<main class="container-agency-header">
  <div class="agency-header-general">
    <ul class="menu-header">
      <li>
        <a href="#"
          >{{ user }}<span class="material-icons"> arrow_drop_down </span></a
        >
        <ul>
          <li><a href="#">Enlace 3</a></li>
          <li><a href="#">Enlace 2</a></li>
          <li>
            <a href="#">
              {{ stateTemp.accessControl.currentUser.first_name }}
              {{ stateTemp.accessControl.currentUser.last_name }}</a
            >
          </li>
        </ul>
      </li>
    </ul>
  </div>
</main>
